@{
    ViewBag.Title = "Online";
    Layout = "~/Views/Shared/_LayoutPedidos.cshtml";
}

<!-- BEGIN #promotions -->
<div id="promotions" class="section-container bg-white">
    <!-- BEGIN container -->
    <div class="container">
        <!-- BEGIN section-title -->
        <h4 class="section-title clearfix">
            <a href="#" class="pull-right">VER TODO</a>
            RESTAURANTES
            <small>DeliverYApp</small>
        </h4>
        <!-- END section-title -->
        <!-- BEGIN row -->
        <div class="row row-space-10">
            <!-- BEGIN col-2 -->
            <div class="col-md-2 col-sm-4">
                <!-- BEGIN item -->
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="~/img/iphone.png" alt="" />
                        <div class="discount">10% OFF</div>
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                            <a href="product_detail.html">DeliverYApp<br />Pedidos Online</a>
                        </h4>
                        <p class="item-desc">071 121212</p>
                        <div class="item-price">Calle 22 de Mayo</div>
                    </div>
                </div>
                <!-- END item -->
            </div>
            <!-- END col-2 -->
            <!-- BEGIN col-2 -->
            <div class="col-md-2 col-sm-4">
                <!-- BEGIN item -->
                <div class="item item-thumbnail">
                    <a href="product_detail.html" class="item-image">
                        <img src="~/img/iphone.png" alt="" />
                        <div class="discount">10% OFF</div>
                    </a>
                    <div class="item-info">
                        <h4 class="item-title">
                            <a href="product_detail.html">DeliverYApp<br />Pedidos Online</a>
                        </h4>
                        <p class="item-desc">071 121212</p>
                        <div class="item-price">Calle 22 de Mayo</div>
                    </div>
                </div>
                <!-- END item -->
            </div>
            <!-- END col-2 -->
        </div>
        <!-- END row -->
    </div>
    <!-- END container -->
</div>
<!-- END #promotions -->
