<div class="box-header">
    <h1><i class="glyphicon glyphicon-list"></i>
        Editar Cliente <%= link_to glyph(:plus_sign)+' Nuevo Cliente', new_cliente_path, class: 'btn btn-primary btn-sm pull-right' %>
    </h1>
</div>
<div class="box-body pad table-responsive">

<%= render 'form' %>

<%= link_to glyph(:arrow_left) + ' Volver', clientes_path %> |
<%= link_to glyph(:eye_open) + ' Mostrar', @cliente %>
</div>
