
<div class="box-header">
    <h1><i class="en-user-add"></i>
        Nuevo Cliente 
    </h1>
</div>
<div class="box-body pad table-responsive">
<%= render 'form' %>

<%= link_to glyph(:arrow_left) + ' Volver', clientes_path %>
</div>