<div class="box-header">
    <h1><i class="en-plus"></i>
        Nuevo Rol 
    </h1>
</div>
<div class="box-body pad table-responsive">
<%= render 'form' %>

<%= link_to glyph(:arrow_left) + ' Volver', roles_path %>

</div>